[Unit]
Description=Example Python backend
After=network.target

[Service]
WorkingDirectory=/a01/acit4640-py-mysql-master/backend
Type=simple
User=a01
ExecStart=/a01/.local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target
